<html>
<head>
<title>events</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
<% @events.each do |e| %>
<pre><%= e %></pre>
<% end %>
</div>
<%= paginate @events %>
</body>
</html>
