<html>
<head>
<title>events</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<style>
body {
  padding: 20px;
}
pre {
  margin: 0 0 30px
}
</style>
</head>
<body>
<div>
<% @events.each do |e| %>
<pre><%= e %></pre>
<% end %>
</div>
<%= paginate @events, :theme => 'bootstrap' %>
</body>
</html>
